body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

ol {
    text-align: left;
    margin-top: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

button.selected {
    background-color: #4CAF50; /* 선택된 버튼의 배경색 */
    color: white;
}

